<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>68117355445-rhp4i4bgsrl5iecrv1i81kj6pn2f8opq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68117355445-rhp4i4bgsrl5iecrv1i81kj6pn2f8opq</string>
	<key>API_KEY</key>
	<string>AIzaSyDCcSGFIV8hMCrPrWE0X2Q8EtmbPJY1Lgs</string>
	<key>GCM_SENDER_ID</key>
	<string>68117355445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaushal.PlatNProvider</string>
	<key>PROJECT_ID</key>
	<string>shopappoff1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopappoff1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68117355445:ios:703ffc61c94b17b1</string>
	<key>DATABASE_URL</key>
	<string>https://shopappoff1.firebaseio.com</string>
</dict>
</plist>